spawn-at-startup "swww-daemon"
spawn-at-startup "pipewire"
spawn-at-startup "waybar"
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "swaync"
spawn-at-startup "~/.local/share/scripts/idle/launch-swayidle"
spawn-at-startup "~/.local/share/scripts/tempmon/tempmon.py"
